.tuMejorEleccion__descripcion__parrafo{
    display: none;
}
.icono__eleccion{
    background-color: $secundaria;
    padding:27px 29px;
    width:90px;
    height: 90px;
    border-radius: 50%;
    color:$color-claro;
    font-size:34px ;
    list-style: none;
}