.bienvenidos{
    background-image:url("../images/fondoBienvenida.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    color:$color-claro;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__encabezado{
        background-color: $texto;
        color:$color-claro;
        padding: .5rem 0;
        
        .container{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .logo img{
            width:150px;
            height: auto;
        }
    
    }
    &__texto-encabezado{
        margin-top:4rem;
        display: flex;
        align-items: center;
        flex:1 1 auto;
    }
}

.boton-buscar,.boton-menu{
    border:0;
    background-color:transparent;
    color:$color-claro;
    font-size: 2rem;
    padding:0 .5rem;
}
.boton-buscar{
    margin-left: auto;
    margin-right: .8rem;
}

.boton-buscar:focus,.boton-menu:focus{
    outline: 0;
}

#bloque-buscar{
    flex:1 1 100%;
}
.contenedor-bloque-buscar{
    display: flex;
    height: 3rem;
    margin:1rem 0;
    &__textSearch{
        border:0;
        border-radius: 5px 0 0 5px;
        padding-left: 1rem;
        flex: 1 1 auto;

    }
    &__buttonSearch{
        border:0;
        border-radius: 0 5px 5px 0;
        background-color: $principal;
        color:$color-claro;
        flex:0 1 auto;
        padding: 0 1rem;
    }
    &__buttonSearch:focus{
        outline: 0;
    }

}

#menu-principal{
    flex:1 1 100%;
    ul{
        list-style: none;
        margin-top:1rem;
    }
    ul a{
        display: block;
        text-align: center;
        padding:.8rem 0 ;
        color:$color-claro;
        text-transform: uppercase;
        border-top: 1px solid #8c8888;
        text-decoration: none;
    }
    ul a:hover,li.active a{
        color:$principal;
    }
}
.ponteEnContacto{
    color: #fff;
    background-color:$principal;
    border-color:transparent;
    margin-top:2rem;
    transition: all .5s ease;
    &:hover,&:focus{
        background-color:$secundaria;
        border-color:transparent;  
    }
} 

.flecha-bajar a{
    display: inline-block;
    color:$color-claro;
    font-size: 4rem;
    animation: flechaBajar 1.5s ease-in-out infinite;
}

@keyframes flechaBajar{
    from{
        transform:translateY(0);
    }
    50%{
        transform:translateY(5px);
    }
    to{
        transform:translateY(0);
    }
}