.proyectos{
    &__container{
        padding-right: 0;
        padding-left: 0;
    }
    &__ancla{
        color:$texto;
        &:hover{
            text-decoration: none;
            color:$texto;
        }

    }
    &__titulo{
        font-size: 1rem;
        text-align: center;
        font-weight: 700;

    }
}
.owl-nav{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    margin-top:1rem;
    color:$color-claro;
    span{
        background-color:$principal;
        display:flex;
        justify-content: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 50px;
        transition: all .5s ease-in;
    
    }
    span:hover{
        background-color: $secundaria;
    }
}

button.owl-prev,
button.owl-next{
    flex:0 1 60px;
    outline: 0;
    border:none;
    padding:0;
    margin: 0;
    
}
button.owl-prev{
    margin-right: .5rem;
}
button.owl-next{
    margin-left: .5rem;
}
