.proyectos{
    &__container{
        padding-right: 0;
        padding-left: 0;
    }
    &__ancla{
        color:$texto;
        &:hover{
            text-decoration: none;
            color:$texto;
        }

    }
    &__titulo{
        font-size: 1rem;
        text-align: center;
        font-weight: 700;

    }
}

.owl-nav {
    display: flex;
    justify-content:center;
    margin-top: 1rem;
    
}

.boton-left,.boton-right{
    color:$principal;
    font-size: 3rem;
    transition: all .5s ease;
}
.boton-right, .boton-left{
    margin:0 .5rem;
}
.boton-left:hover,.boton-right:hover{
    color:$secundaria;
}
.boton-left:focus,.boton-right:focus{
    outline:0;
    text-decoration: none;
    color:$color-claro;
}
