.proyectos{
    &__container{
        padding-right: 0;
        padding-left: 0;
    }
    &__ancla{
        text-decoration: none;
        color:$texto;

    }
    &__titulo{
        font-size: 1rem;
        text-align: center;
        font-weight: 700;

    }
}

.owl-nav {
    display: flex;
    justify-content:center;
    margin-top: 1rem;
}

.button-left,.button-right{
    color:$principal;
    border: olive;
    font-size: 3rem;
    transition: all .5s ease;
}
.button-right{
    margin:0 1rem;
}

.button-left:hover,.button-right:hover{
    color:$secundaria;
}
