.servicios{
    background-image: url(../images/fondoNuestrosServicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    color:$color-claro;
    img{
        flex:0 0 70px;
        overflow: hidden;
        transition: all 1s ease;
        @media (min-width:768px){
            flex: 0 0 150px;
            margin-bottom: 1rem;
        }
    }
    article:hover img{
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }
    &__item{
        display:flex;
        align-items: center;
        margin:1rem 0;
        @media (min-width:768px){
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

    }
}
.fuente-3{
    margin:0;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 700;
    flex:1 1 auto;
    @media (min-width:768px){
        font-size: 1.8;
        flex:0 1 auto;
        margin-bottom: 1rem;
    }
    a{
        color:$color-claro;
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-decoration: none;
    }
    
}

.fuente-3  a::after{
    content: "\f054";
    font-family: fontAwesome;
    font-size: 2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left:0;
    transition: all .5s ease;
    @media (min-width:768px){
        display: none;
        
    }
}
.fuente-3 a:hover::after{
    left:-.5rem;
    opacity: 1;
    color:$principal;
}

.boton-servicios{
    margin-top: auto;
}
